<?php
$categories = $this->getCategoryCollection();
$canShowImg = $this->canShowImage();
?>
<div class="block-content featured-categories">
    <?php foreach ($categories as $category): ?>
        <div class="col-md-4 col-sm-6 col-xs-12 featured-category">
            <?php if ($canShowImg && $category->getImageUrl()): ?>
                <a href="<?php echo $block->escapeUrl($category->getUrl()) ?>"><img
                            class="magebees_lazyload" data-src="<?php echo $block->escapeUrl($category->getImageUrl()) ?>" alt=""/></a>
            <?php endif; ?>
            <div class="cat-title">
                <a href="<?php echo $block->escapeUrl($category->getUrl()) ?>"><?php echo $block->escapeHtml($category->getName()) ?></a>
            </div>
            <div class="cat-shop" style="background: <?= $category->getFeaturedColor() ?>">
                <a href="<?php echo $block->escapeUrl($category->getUrl()) ?>"><?php echo __('Shop Now'); ?></a>
            </div>
        </div>
    <?php endforeach; ?>
</div>